<% include head.html%>
<div class="panel">
    <h5>1.判断是否支持特定JS-API</h5>
    <button id="checkJsApi">checkJsApi</button>
    <br><br>
    <h5>2.分享接口</h5>
    <button id="onMenuShareAppMessage">发送给朋友</button>
    <br><br>
    <h5>3.图像接口</h5>
    <button id="chooseImage">选择图片</button>
    <br>
    <button id="previewImage">预览图片</button>
    <br><br>
    <h5>4.位置接口</h5>
    <button id="getLocation">获取位置</button>
    <br><br>
    <h5>5.微信扫一扫</h5><br>
    <button id="scanQRCode0">扫一扫</button>
    <br>
    <button id="onAddress">地址</button>
</div>
<script src="http://res.wx.qq.com/open/js/jweixin-1.1.0.js"></script>
<script type="text/javascript">
    var signature = '<%= signature %>'
    var nonceStr = '<%= noncestr %>'
    var timestamp = '<%= timestamp %>'
    var appId = '<%= appId %>'
    var jsapi_ticket = '<%= jsapi_ticket %>'
</script>
<script src="js/index.js"></script>
<% include footer.html%>