@charset "utf-8";
@import "global";
#app{
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.tip-prompt{
  width: 90%;
  padding: 5px 0 0 0;
  font-size: 13px;
  color: #fff;
  margin: 0 auto;
  .time{
    width: 100%;
    line-height: 38px;
  }
}
.auth-user{
  width: 90%;
  padding:10px 0;
  font-size: 13px;
  text-align: left;
  margin: 0 auto;
  color: #ffffff;
  .headimg{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 10px;
  }
}
.picwrap{
  width: 100%;
 .btn{
   width: 90%;
   height: 40px;
   margin: 10px auto 0;
   line-height: 40px;
   border: none;
   border-radius: 10px;
   background:#00a9e0 !important;
   display: block;
   color: #ffffff;
 }
  .noticetext{
    width: 90%;
    margin: 20px auto 0;
    font-size: 15px;
    color: #F75F00;
  }
  .piclist{
    width: 90%;
    margin: 20px auto 0;
    li{
      width: 32%;
      height: 100px;
      margin-right: 2%;
      margin-bottom: 2%;
      float: left;
      .piclistattr{
        width: 100%;
        height: 100%;
      }
    }
    li:nth-of-type(3n){
      margin-right: 0;
    }
  }
}
.entry{
  width: 100%;
  margin-top: 15%;
  .btn{
    width: 90%;
    height: 40px;
    margin: 10px auto 0;
    line-height: 40px;
    border: none;
    border-radius: 10px;
    background:#00a9e0 !important;
    display: block;
    color: #ffffff;
  }
}

.mintui{
  font-size: 56px !important;
}
